@import '../../../../node_modules/bootstrap/scss/bootstrap';

.user-data {
    .user-data-header {
        margin: 1.4em 0;
        a {
            color: #000;
        }
    }
    .user-intro {
        text-align: center;
        .user-picture {
            .picture-wraper{
                width: 150px;
                margin: 0 auto;
                position: relative;
                .activity-icon{
                    width: 20px;
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    z-index: 1;
                }
                .round-picture-wraper {
                    display: inline-block;
                    position: relative;
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 50%;

                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
        .user-name{
            font-size: 1.7em;
            font-weight: bold;
        }
    }

    .section{
        @extend .col-lg-8;
        @extend .col-md-10; 
        @extend .col-sm-12;
        padding: 15px;
        margin-top: 20px;

        .section-title {
            font-size: 1.3em;
            padding: 5px;
            border-bottom: #e3e3e3 1px solid;
        }
        .section-data {
            .section-row{
                @extend .row;
                margin-top: 10px;

                .section-row-label {
                    @extend .col-lg-4;
                    @extend .col-md-5;
                    @extend .col-sm-6;

                    font-weight: 600;
                }
                .section-row-value {
                    @extend .col-lg-8;
                    @extend .col-md-7;
                    @extend .col-sm-6;

                    font-weight: 400;
                }
            }
        }

        agm-map {
            height: 300px;
        }

        .tag {
            display: inline-block;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            padding: 0 14px;
            margin: 5px;
        }
    }
}
