<div>
  <div class="user-list row justify-content-md-center">

      <div class="col-12">
        <h3>User List</h3>
      </div>

      <app-preloader *ngIf="loading" class="col-12"></app-preloader>

      <div *ngIf="!loading" class="col-12">

          <div *ngIf="!users.length">No users found</div>

          <div *ngIf="users.length" class="table-wraper">

            <div class="search"> 
              Search user:  <input id="filterInput" [(ngModel)]="query">
            </div>

            <table class="table"> 
              <tbody>
                <tr *ngFor="let user of users | search:'name':query" (click)="goToUserDetails(user.guid)">
                  <td>{{user.name | userName}}</td>
                  <td>></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

  </div>
</div>
